<div class="map-container">
  <div class="row text-centered" id="news">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>In an emergency, this page will be your real-time information hub.</h2><br>
       <h3> You’ll find official updates, crowdsourced reports, and a crisis map to navigate city resources. Tour this Emergency Mode to better understand how to use it in the event of an emergency.</h3>
    </div>
    <div class="col-md-2"></div>
    </div>
    <div class="wrapper">
      <div id="map"><iframe width="100%" height="100%" src="http://google.org/crisismap/a/gmail.com/PrepareSF?hl=en&llbox=37.8321%2C37.6949%2C-122.3232%2C-122.5654&t=ROADMAP&layers=layer4%2Clayer5%2C1&embedded=true" style="border: 1px solid #ccc"></iframe></div>
    </div>
    <div id="feed">
      <div class="row text-centered">
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><h3>Earthquakes</h3></div>
        <div class="col-sm-3"><h3>Disaster Alerts</h3></div>
        <div class="col-sm-3"><h3>Public Alerts</h3></div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
