<div class="jumbotron"></div>
<div class="container">
  <div class="row" style="text-align:center">
    <div class="col-md-6 col-md-offset-3">
      <h1>Find Your Loved Ones</h1>
      <br>
      <hr>
      <br>
      <div class="row">
        <p>Check-in after a disaster, search for missing persons, and connect with those you love.</p>
      </div>
      <br>
      <br>
      <h2>Check-in Center</h2>
      <br>
      <br>
      <% if current_user %>
        <%= link_to "Check-in", new_checkin_path %>
      <% end %>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6 col-md-4">First Name</div>
        <div class="col-xs-6 col-md-4">Last Name</div>
        <div class="col-xs-6 col-md-4">Status</div>
      </div>
      <hr>
      <div class="row">
        <% @checkins.each do |checkin| %>
        <div class="col-xs-6 col-md-4"><p><%= checkin.first_name %></p></div>
        <div class="col-xs-6 col-md-4"><p><%= checkin.last_name %></p></div>
        <div class="col-xs-6 col-md-4"><p>checkin.status %></p></div>
        <% end %>
      </div>
    </div>
  </div>
</div>



