<!DOCTYPE HTML>
<html>
<head>
<title>Lyfeline</title>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>

<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Educator Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<script type="applijegleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="assets/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="assets/swipebox.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="assets/style.css" rel='stylesheet' type='text/css' />  
<script src="assets/jquery-1.11.1.min.js"></script>
<script src="assets/jquery.swipebox.min.js"></script>

<!--webfonts-->
 <link href='http://fonts.googleapis.com/css?family=Poiret+One|Lily+Script+One|Raleway:400,300,500,600,200,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>

<body>
  <!--top-nav-->
        <span class="menu"> </span>
          <div class="top-menu">
            <nav>
              <ul class="cl-effect-16">
                <li><a class="active scroll" href="#home" data-hover="Home">Home</a></li>
                <li><a class="scroll" href="home#service" data-hover="How it Works">How it Works</a></li>
                <li><a class="scroll" href="home/about" data-hover="About">About</a></li>
                <li><a href="/news" data-hover="SF72 News">SF72 News</a></li>
                <li><a class="scroll" href="/checkins/:id" data-hover="Checkin Center">Checkin Center</a></li>
                <li><a class="scroll" href="/profile" data-hover="Profile">Profile</a></li>
                <li><a class="scroll" href="/login" data-hover="Login">Login</a></li>
                <li><a class="scroll" href="/signup" data-hover="Sign Up">Sign Up</a></li>
                <li><a class="scroll" href="home#contact" data-hover="Contact">Contact</a></li>
                <div class="clearfix"></div>
              </ul>
            </nav>    
          </div>
          <!-- script-for-menu -->
          <script>
            $( "span.menu" ).click(function() {
              $( ".top-menu" ).slideToggle( "slow", function() {
              // Animation complete.
              });
            });
          </script>
          <!-- script-for-menu -->
          <div class="clearfix"></div>
      </div>

<%= yield %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

</body>
</html>